<h2>Member</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        List Member
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in users">
                    <th>{{i.Name + ' ' + i.Surname}}</th>
                    <th>{{i.Address}}</th>
                    <th>{{i.Email}}</th>
                    <th>{{i.Phone}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>